---
import Layout from '../layouts/Layout.astro';
import IFSCSearch from '../components/IFSCSearch.astro';
---

<Layout title="IFSC Code Search | Banks in India" description="Quickly search, find, verify, and copy the accurate IFSC, MICR, address, and live network support for any Indian banking branch.">
	<main id="main-content">
		<header>
			<h1 class="italic">IFSC Code Search</h1>
		</header>
		
		<IFSCSearch />
	</main>
</Layout>
