---
import DataTable from './DataTable.astro';
import type { Bank } from '../types/bank';

export interface Props {
  title: string;
  category: string;
  content: Bank[];
}

const { title, content } = Astro.props;
---

<section>
  <h2>{title}</h2>
  {content.length > 0 ? (
    <DataTable data={content} />
  ) : (
    <p>No banks.</p>
  )}
</section>