---
import Layout from '../../layouts/Layout.astro';
import mergedBanks from '../../datasets/mergers/merged-banks.json';
import RawTable from '../../components/RawTable.astro';

const mappedData = mergedBanks.map((item: any) => ({
    "IFSC": item['IFSC'] || "N/A",
    "Original Bank": item['Bank Name'] || "N/A",
    "Target Bank": item['Target Bank Name'] || "N/A"
}));
---

<Layout title="Merged Banks Codes | Misc | Banks in India" description="Lookup the new IFSC and routing numbers for Indian banks that have undergone structural mergers or acquisitions.">
	<main id="main-content">
		<header>
			<h1 class="italic">Merged Banks Codes</h1>
		</header>
		
		<section aria-label="Merged Banks Codes">
            <h2>[Replacements]</h2>
			<RawTable data={mappedData} />
		</section>

	</main>
</Layout>

<style>
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
