---
import Layout from '../../layouts/Layout.astro';
import mergedBanks from '../../datasets/mergers/merged-banks.json';
import RawTable from '../../components/RawTable.astro';

const mappedData = mergedBanks.map((item: any) => ({
    "Original Bank": item['Bank Name'] || "N/A",
    "Code": item['Bank Code'] || "N/A",
    "Type": item['Type Of Bank'] || "N/A",
    "Target Bank": item['Target Bank Name'] || "N/A",
    "Target Code": item['Target Bank Code'] || "N/A",
    "IFSC": item['IFSC'] || "N/A"
}));
---

<Layout title="Merged Banks Codes | Misc | Banks in India" description="Lookup the new IFSC and routing numbers for Indian banks that have undergone structural mergers or acquisitions.">
	<main id="main-content">
		<header>
			<h1 class="italic">Merged Banks Codes</h1>
			<p>IFSC routing replacements for {mappedData.length} Indian banks that have undergone structural mergers or acquisitions.</p>
		</header>
		
		<section aria-label="Merged Banks Codes">
            <h2>[Replacements]</h2>
			<RawTable data={mappedData} />
		</section>

	</main>
</Layout>
