---
import Layout from '../../layouts/Layout.astro';
import mergedBanks from '../../datasets/mergers/merged-banks.json';
---

<Layout title="Merged Banks Codes | Misc | Banks in India">
	<main id="main-content">
		<header>
			<h1 class="italic">Merged Banks Codes</h1>
		</header>
		
		<section aria-label="Merged Banks Codes">
            <h2>[Replacements]</h2>
			<ul>
                {mergedBanks.map((item) => (
                    <li>
                        [Merger] <strong>{item['Bank Name']}</strong> ➔ {item['Target Bank Name']} (<code>{item['IFSC']}</code>)
                    </li>
                ))}
			</ul>
		</section>

	</main>
</Layout>

<style>
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
