---
import Layout from '../../layouts/Layout.astro';
import rtgsIfscs from '../../datasets/rbi/rtgs-ifscs.json';
import RawTable from '../../components/RawTable.astro';

const mappedData = rtgsIfscs.map((item) => ({
    "IFSC Prefix": item.Code || "N/A",
    "Bank Name": item['Bank Name'] || "N/A",
    "RTGS Branches": item['No. of RTGS enabled branches'] || "N/A"
}));
---

<Layout title="RTGS IFSCs | Misc | Banks in India" description="A complete listing of Real Time Gross Settlement (RTGS) enabled branches and active IFSC routing networks across India.">
	<main id="main-content">
		<header>
			<h1 class="italic">RTGS Enabled IFSC Codes</h1>
			<p>{mappedData.length} banks with RTGS-enabled branches across India.</p>
		</header>
		
		<section aria-label="RTGS IFSCs List">
            <h2>[Branches]</h2>
			<RawTable data={mappedData} />
		</section>

	</main>
</Layout>
